<div class="submenu-trigger-container" *ngIf="!isRootNode">
  <span
    class="submenu-trigger-title"
    (click)="selectItem(code)"
    *ngIf="!selectLastChildOnly"
    >{{ trigger }}</span
  ><button
    disableRipple
    mat-menu-item
    [matMenuTriggerFor]="menu"
    [ngClass]="selectLastChildOnly ? 'btnSelectLastchildOnly' : ''">
    <ng-container *ngIf="selectLastChildOnly">{{ trigger }}</ng-container>
  </button>
</div>
<div *ngIf="isRootNode">
  <button mat-button [matMenuTriggerFor]="menu">
    {{ trigger }}
  </button>
</div>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let node of data; let i = index">
    <button
      disableRipple
      mat-menu-item
      [ngClass]="[isExpandable(node.children) ? 'multi-menu-button' : '']">
      <app-mutil-lvl-list
        [code]="node.code"
        [trigger]="node.title"
        [data]="node.children"
        [selectLastChildOnly]="selectLastChildOnly"
        *ngIf="isExpandable(node.children); else menuItem"></app-mutil-lvl-list>
    </button>
    <ng-template #menuItem>
      <button
        (click)="selectItem(node.code)"
        disableRipple
        class="bg-none pl-0"
        mat-menu-item>
        {{ node.title }}
      </button>
    </ng-template>
  </ng-container>
</mat-menu>
