:host ::ng-deep{
  .mat-menu-item:hover{
    background: unset;
  }
  .mat-menu-item-highlighted{
    background: none;
  }
}
.submenu-trigger-container{
  display: flex;
   justify-content: stretch;
   align-items: center;
   .submenu-trigger-title{
    flex: 1;
   }
   .submenu-trigger-title:hover{
    background-color: rgba(0,0,0,0.04);
   }
}
.multi-menu-button{
  background: none !important;
  .mat-menu-item-submenu-trigger{
    padding: 0;
    width: 24px;
  }
  .mat-menu-item-submenu-trigger:hover{
    background-color: rgba(0,0,0,0.04);
  }
  .mat-menu-item-submenu-trigger::after{
    right: 8px;
  }
}
.bg-none{
  background: none !important;
}
